:root {
  --color-primary: #196719;
  --color-error: #f03d3d;
  --color-warning: #2962ff;
  --color-white: #ffffff;
  --color-gray-50: #f9f9f9;
  --color-gray-100: #e2e8f0;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #4a5568;
  --color-gray-400: #718096;
  --color-gray-500: #2d3748;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100vh;
}
