:root {
  --primary: #2fbd6a;
  --text: #4a5568;
  --color-gray-50: #e2e8f0;
  --dark-gray-100: #2d3748;
  --dark-gray-200: #718096;
  --dark-gray-300: #f9f9f9;
  --white: #ffffff;
  --color-message: #2962ff;
  --color-success: #0bb07b;
  --color-warning: #ffce52;
  --color-error: #f03d3d;
  --color-information: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
